/*
    Template: Invent - Personal Resume & Portfolio Template
    Author: Linewp
    Version: 1.0
*/
/* TABLE OF CONTENTS

    1. Basic Document Styles
    2. Navigation
    3. Section Titles
    4. Section Home
    5. Section About
    6. Section Services
    7. Section Portfolio
    8. Section Resume
    9. Section Team
    10. Section Testimonials
    11. Section Clients
    12. Section Blog
    13. Section Contact
    14. Footer
    15. Media Queries For Responsive Design
*/
/* 1. Basic Document Styles
-------------------------------------------------*/

body,
html {
    font-family: "Lekton", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    line-height: 26px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
}
h3 {
    font-size: 18px;
    font-weight: 900;
}
h4 {
    text-transform: uppercase;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
a {
    color: #222;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #333;
}
li {
    list-style: outside none none;
}
mark {
    background-color: #FEF7A4;
    padding: 0.1em;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
ul,
ol {
    padding: 0;
}
::selection {
    background: #FEF7A4;
    /* Safari */
    
    color: #333;
}
::-moz-selection {
    background: #FEF7A4;
    /* Firefox */
    
    color: #333;
}
/* Preloader */

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #FFFFFF;
}
.loader {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: -30px 0 0 -30px;
    background: rgba(13, 13, 13, 0.5);
    -webkit-animation: loader-anim 1.5s infinite;
    animation: loader-anim 1.5s infinite;
}
@-webkit-keyframes loader-anim {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
    }
}
@keyframes loader-anim {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* 2. Navigation
-------------------------------------------------*/

#main-menu {
    padding: 20px;
    transition: all 0.8s;
}
#main-menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
}
#main-menu a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    /*color: #434242;*/
    color:  #FFFAFA;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
#main-menu a.navbar-brand i {
    color: #bbb;
}
#main-menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
     color:  #DDA0DD;
    font-size: 12px;
    letter-spacing: 1px;
}
.on {
    background-color: #ffffff !important;
    padding: 0 !important;
}
.navbar.navbar-default.navbar-fixed-top {
    border-bottom: 1px solid transparent;
}
.navbar.navbar-default.navbar-fixed-top.on {
    border-bottom: 1px solid #eee;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #333 !important;
    background-color: transparent;
    font-weight: 700;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FEF7A4;
    border-color: #FEF7A4;
    color: #333;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #333;
}
/* 3. Section Titles
-------------------------------------------------*/

.section-title.center {
    padding: 30px 0;
    text-align: center;
}
.section-title h2,
.section-title.center h2 {
    font-weight: 300;
    color: #030303;
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 1.8;
}
.section-title.center .line {
    border-top: 3px solid #333;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-title.center p {
    color: #535353;
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}
/* 4. Section Home
-------------------------------------------------*/

#home {
    background: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFFAFA;
}
#home h1 {
    font-size: 58px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-weight: 900;
    margin-bottom: 28px;
}
#home h1 span{
    background-color: #030303;
    padding: 0.1em;
}
#home h1 mark{
    color: #030303;
}
#home p.lead {
    color: #030303;
    font-size: 18px;
}
#home .content hr {
    background-color: #666;
    height: 2px;
    border: 0 none;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100px;
}
.content {
    position: relative;
    padding: 19% 0 15%;
}
.content mark {
    padding: 0;
    color: inherit;
}
p .social-media {
    background-color: #FEF7A4;
}

/* 15. Media Queries For Responsive Design
-------------------------------------------------*/

@media (max-width: 992px) {
    .content {
        padding: 19% 0 20%;
    }
    #home h1 {
        font-size: 55px;
    }
    #about .bio {
        margin-bottom: 60px;
    }
}
@media (max-width: 768px) {
    .content {
        padding: 24% 0 25%;
    }
    #home h1 {
        font-size: 50px;
    }
    #about .bio {
        margin-top: 30px;
    }
    #about hr {
        float: none;
    }
    .col-md-4.col-sm-6.photo {
        text-align: center;
    }
    #blog .blog {
        margin-bottom: 60px;
    }
    .education article {
        padding: 30px 0 30px;
    }
    #about .bio {
        margin-left: 0px;
    }
}
@media (max-width: 603px) {
    #tf-menu.navbar-default {
        background-color: rgba(0, 0, 0, 0.79);
    }
    #tf-works li.pull-right,
    #tf-works li.pull-left {
        margin-top: 10px;
        float: none !important;
        text-align: center;
        display: block;
    }
    label {
        float: none !important
    }
    .pull-left.fnav,
    .pull-right.fnav {
        float: none !important;
        text-align: center;
    }
    .portfolio-item {
        width: 450px;
    }
    .hover-bg .hover-text {
        padding: 12% 10%;
    }
    #home h1 {
        font-size: 35px;
    }
    #home p.lead {
        font-size: 15px;
    }
    #about .bio {
        margin-left: 0px;
    }
}
@media (max-width: 360px) {
    .hover-bg .hover-text {
        padding: 12% 10%;
    }
    .portfolio-item {
        width: 300px;
    }
}